.summarylayout {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #363636;
    border-radius: 1rem;
    padding: 2rem 0 3rem 0;
    gap: 3rem;
    width: 500px;
    height: 500px;
    box-shadow: 4px 4px 6px 0px rgba(128, 128, 128, 0.75);
    -webkit-box-shadow: 4px 4px 6px 0px rgba(128, 128, 128, 0.75);
    -moz-box-shadow: 4px 4px 6px 0px rgba(128, 128, 128, 0.75);

    & .summarycontainer {
      text-align: center;
    }

    & .labels {
      color: white;
    }

    h2 {
      color: #ff735c;
    }

    & .values {
      background-color: rgba(128, 128, 128, 1);
      padding: 0.5rem;
      margin-top: 0.5rem;
      width: 250px;
      min-height: 20px;
      border-radius: 0.5rem;
    }

    & .green {
      color: rgba(81, 255, 0, 0.79);
    }

    & .red {
      color: rgba(255, 0, 4, 0.881);
    }
  }
}

.scroll {
  display: flex;
  gap: 0.3rem;
  margin-top: 0.7rem;
  bottom: 150px;

  button {
    width: 12px;
    height: 12px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
  }

  .selected {
    background-color: #ff735c;
    scale: 1.1;
  }
}
