<div class="summarylayout">
  <div class="summary">
    <h1 class="summarytitle">Resumo</h1>
    <div class="summarycontainer">
      <h1 class="entry">Entrada</h1>
      <div class="values">
        <p>{{ entry }}</p>
      </div>
    </div>
    <div class="summarycontainer">
      <h1 class="exit">Saída</h1>
      <div class="values">
        <p>{{ exit }}</p>
      </div>
    </div>
    <div class="summarycontainer">
      <h1 class="balance">Saldo</h1>
      <div class="values">
        <p>{{ balance }}</p>
      </div>
    </div>
  </div>
</div>
