.summarylayout {
  display: flex;
  width: 50vw;
  height: 100vh;
  justify-content: center;

  .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 1rem;
    margin: auto 0;
    padding: 2rem 0 3rem 0;
    gap: 3rem;
    width: 500px;
    height: 500px;

    & .summarytitle {
      font-size: 54px;
    }

    & .summarycontainer {
      text-align: center;
    }

    & .labels {
      color: white;
    }

    h2 {
      font-weight: 600;
    }

    & .values {
      background-color: rgba(128, 128, 128, 1);
      padding: 0.5rem;
      margin-top: 0.5rem;
      width: 250px;
      min-height: 20px;
      border-radius: 0.5rem;
    }

    & .green {
      color: rgba(81, 255, 0, 0.79);
    }

    & .red {
      color: rgba(255, 0, 4, 0.881);
    }
  }
}
