<div class="summarylayout">
  <div class="summary">
    <h1 class="summarytitle">Resumo</h1>
    <div class="summarycontainer">
      <h1 class="labels">Entrada</h1>
      <div class="values">
        <h2>R$ {{ entry }}</h2>
      </div>
    </div>
    <div class="summarycontainer">
      <h1 class="labels">Saída</h1>
      <div class="values">
        <h2>R$ {{ exit }}</h2>
      </div>
    </div>
    <div class="summarycontainer">
      <h1 class="labels">Saldo</h1>
      <div class="{{ balanceStatus }}">
        <h2>R$ {{ balance }}</h2>
      </div>
    </div>
  </div>
</div>
