<div class="summarylayout">
  <div class="summary">
    <h2 class="summarytitle">Resumo</h2>
    <div class="summarycontainer">
      <h4 class="labels">Entrada</h4>
      <div class="values">
        <h6>R$ {{ entry.toFixed(2) }}</h6>
      </div>
    </div>
    <div class="summarycontainer">
      <h4 class="labels">Saída</h4>
      <div class="values">
        <h6>R$ {{ exit.toFixed(2) }}</h6>
      </div>
    </div>
    <div class="summarycontainer">
      <h4 class="labels">Saldo</h4>
      <div class="{{ balanceStatus }}">
        <h6>R$ {{ balance.toFixed(2) }}</h6>
      </div>
    </div>
  </div>
</div>
