<div class="main-layout">
  <app-home-image></app-home-image>
  <div class="form-layout">
    <div class="title">
      <h1>Ctrl$</h1>
      <h2>UM JEITO FÁCIL DE CONTROLAR SUAS FINANÇAS</h2>
      <div class="form">
        <h1>Login</h1>
        <h2>Email</h2>
        <form>
          <input type="text" name="Email" />
        </form>
        <h2>Senha</h2>
        <form>
          <input type="text" name="Email" />
        </form>
      </div>
    </div>
    <footer>
      <h2>Não possui uma conta? <b>Registre-se</b></h2>
    </footer>
  </div>
</div>
