<div class="main-layout">
  <app-home-image></app-home-image>
  <div class="form-layout">
    <app-header></app-header>
    <div class="form">
      <h1>Login</h1>
      <form>
        <div>
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="email" name="email" required />
        </div>
        <div>
          <label for="password">Senha</label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
        <div class="button">
          <input (click)="login()" type="submit" />
        </div>
      </form>
    </div>
    <footer>
      <h2>
        Não possui uma conta?
        <a routerLink="/register">Registre-se</a>
      </h2>
    </footer>
  </div>
</div>
