<div class="main-layout">
  <app-home-image></app-home-image>
  <div class="form-layout">
    <header class="title">
      <h1>Ctrl$</h1>
      <h2>UM JEITO FÁCIL DE CONTROLAR SUAS FINANÇAS</h2>
    </header>
    <div class="forms">
      <h1>Criar Conta</h1>
      <h2>Nome</h2>
      <form>
        <input type="text" name="Name" />
      </form>
      <h2>Email</h2>
      <form>
        <input type="email" name="Email" />
      </form>
      <h2>Senha</h2>
      <form>
        <input type="password" name="Password" />
      </form>
      <h2>Confirmar Senha</h2>
      <form>
        <input type="password" name="CfPassowrd" />
      </form>
      <div class="button">
        <button>Criar Conta</button>
      </div>
    </div>
    <footer>
      <h2>
        Possui uma conta?
        <a routerLink="/home">Login</a>
      </h2>
    </footer>
  </div>
</div>
