<div class="main-layout">
  <app-home-image></app-home-image>
  <div class="form-layout">
    <app-header></app-header>
    <div class="form">
      <h1>Criar Conta</h1>
      <form>
        <div>
          <label for="name">Nome</label>
          <input type="text" [(ngModel)]="name" name="name" required />
        </div>
        <div>
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="email" name="email" required />
        </div>
        <div>
          <label for="password">Senha</label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
        <div>
          <label for="cfPassowrd">Confirmar Senha</label>
          <input
            type="password"
            [(ngModel)]="cfPassword"
            name="cfPassowrd"
            required
          />
        </div>
        <div class="{{ class }}">
          @if(class == 'error') {
          <p>{{ erroMessage }}</p>
          } @else {
          <p>{{ message }}</p>
          }
        </div>
        <div class="button">
          <input (click)="crateUser()" type="submit" value="Criar Conta" />
        </div>
      </form>
    </div>
    <footer>
      <h2>
        Possui uma conta?
        <a routerLink="/home">Login</a>
      </h2>
    </footer>
  </div>
</div>
