<div class="main-layout">
  <app-summary [transations]="transations"></app-summary>
  <div class="dashboard">
    <h2>
      Extrato de <b>{{ loginResponse.name }}</b>
    </h2>
    <form>
      <div>
        <label for="description">Descrição</label>
        <br />
        <input
          type="text"
          [(ngModel)]="description"
          name="description"
          required
        />
      </div>
      <div>
        <label for="value">Valor</label>
        <br />
        <input type="number" [(ngModel)]="value" name="value" />
      </div>
      <div>
        <label for="status">Status</label>
        <br />
        <select name="text" id="status" [(ngModel)]="selectedoption" required>
          @for (option of options; track $index) {
          <option value="{{ option.label }}">{{ option.label }}</option>
          }
        </select>
      </div>
      <div>
        <label for="date">Data</label>
        <br />
        <input type="date" [(ngModel)]="currentDate" name="date" />
      </div>
      <div class="button">
        <br />
        <input type="submit" (click)="postTransations()" value="+" />
      </div>
    </form>
    <div class="scrollable-table">
      <table class="table">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Data</th>
            <th>Options</th>
          </tr>
        </thead>
        @for (transation of transations; track transation) {
        <tr>
          <td>{{ transation.description }}</td>
          <td>{{ transation.value }}</td>
          <td>{{ transation.status }}</td>
          <td>{{ transation.formatedDate }}</td>
        </tr>
        }
      </table>
    </div>
  </div>
</div>
