<div class="main-layout">
  <app-summary></app-summary>
  <div class="dashboard">
    <h2>Extrato de <b>Nome da pessoa</b></h2>
    <form>
      <div>
        <label for="description">Descrição</label>
        <br />
        <input type="text" name="description" required />
      </div>
      <div>
        <label for="value">Valor</label>
        <br />
        <input type="number" name="value" />
      </div>
      <div>
        <label for="status">Status</label>
        <br />
        <select name="text" id="status">
          <option value="Entrada">Entrada</option>
          <option value="Saida">Saida</option>
        </select>
      </div>
      <div>
        <label for="date">Data</label>
        <br />
        <input type="datetime" name="date" />
      </div>
      <div class="button">
        <br />
        <input type="submit" value="+" />
      </div>
    </form>
    <div class="title-transation">
      <div>
        <h2>Descrição</h2>
      </div>
      <div>
        <h2>Valor</h2>
      </div>
      <div>
        <h2>Status</h2>
      </div>
      <div>
        <h2>Data</h2>
      </div>
    </div>
    <div>
      @for (transation of transations; track transation) {
      <div class="list-transation">
        <div>
          <p>{{ transation.description }}</p>
        </div>
        <div>
          <p>{{ transation.value }}</p>
        </div>
        <div>
          <p>{{ transation.status }}</p>
        </div>
        <div>
          <p>{{ transation.date }}</p>
        </div>
      </div>

      }
    </div>
  </div>
</div>
