<div class="main-layout">
  <app-summary [transations]="transations"></app-summary>
  <app-delete-transation
    #modal
    [transationtoDelete]="transationtoDelete"
    (deletedClick)="deleteTransation(transationtoDelete!)"
  ></app-delete-transation>
  <div class="dashboard">
    <h2>
      Extrato de <b>{{ loginResponse.name }}</b>
    </h2>
    <form>
      <div>
        <label for="description">Descrição</label>
        <br />
        <input
          type="text"
          [(ngModel)]="description"
          name="description"
          required
        />
      </div>
      <div>
        <label for="value">Valor</label>
        <br />
        <input
          type="text"
          currencyMask
          [options]="{
            prefix: 'R$ ',
            thousands: '.',
            decimal: ',',
            align: 'left'
          }"
          [(ngModel)]="value"
          name="value"
        />
      </div>
      <div>
        <label for="status">Status</label>
        <br />
        <select name="text" id="status" [(ngModel)]="selectedoption" required>
          @for (option of options; track $index) {
          <option value="{{ option.label }}">{{ option.label }}</option>
          }
        </select>
      </div>
      <div>
        <label for="date">Data</label>
        <br />
        <input type="date" [(ngModel)]="currentDate" name="date" />
      </div>
      <div class="button">
        <br />
        @if (action == '+') {
        <input type="submit" (click)="postTransations()" value="{{ action }}" />
        }@if (action == 'Editar' ) {
        <input type="submit" (click)="patchTransation()" value="{{ action }}" />
        }
      </div>
    </form>
    <div class="scrollable-table">
      <table class="table">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Status</th>
            @if (orderDate == '▾') {
            <th class="date" (click)="transationDescDate(transations)">
              Data {{ orderDate }}
            </th>
            }@if(orderDate == '▵') {
            <th class="date" (click)="transationAscDate(transations)">
              Data {{ orderDate }}
            </th>
            }
            <th>Editar/Excluir</th>
          </tr>
        </thead>
        @for (transation of transations; track transation) {
        <tr>
          <td>{{ transation.description }}</td>
          <td>R$ {{ transation.value.toFixed(2) }}</td>
          @if (transation.status == 'Entrada') {
          <td>
            <p class="green">{{ transation.status }}</p>
          </td>
          }@if (transation.status == 'Saída') {
          <td>
            <p class="red">{{ transation.status }}</p>
          </td>
          }
          <td>{{ transation.formatedDate }}</td>
          <td>
            <img
              class="icon first"
              src="edit.png"
              alt=""
              width="25px"
              (click)="editButton(transation)"
            />
            <img
              class="icon"
              src="delete.png"
              alt=""
              width="25px"
              (click)="openModal(transation)"
            />
          </td>
        </tr>
        }
      </table>
    </div>
  </div>
</div>
